#walrus-fading-out {
  display: none;

}

#walrus-fading-out img {
  width: 200px;
  height: auto;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
